@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&display=swap");
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: -15px;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0;
  background-color: #8bd3dd;
  color: #001858;
  padding: 20px 120px;
}
.container header h3 {
  color: #dd246b;
  position: relative;
  padding-left: 60px;
  font-size: 0.9rem;
}
.container header h3:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 50px;
  content: "";
  background: #dd246b;
}
.container header h1 {
  font-size: 2rem;
}
.container .content .first-row {
  display: flex;
  position: relative;
}
.container .content .first-row::before {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  height: 0;
  content: "";
  border-bottom: 3px solid #f582ae;
}
.container .content .first-row:after {
  position: absolute;
  top: 42px;
  width: 15px;
  height: calc(100% + 3px);
  content: "";
  border: 3px solid #f582ae;
  border-left: 0;
  border-radius: 0 20px 20px 0;
  right: -15px;
}
.container .content .first-row .wrapper {
  width: 40%;
}
.container .content .first-row .wrapper div[class^=col] {
  text-align: center;
  padding: 0 15px 54px;
}
.container .content .first-row .wrapper div[class^=col] span {
  color: #dd246b;
  position: relative;
  padding-bottom: 25px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.container .content .first-row .wrapper div[class^=col] span:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  content: "";
  background: rgba(245, 130, 174, 0.342);
  margin-left: -13px;
  margin-bottom: -8px;
  height: 27px;
  width: 27px;
}
.container .content .first-row .wrapper div[class^=col] span:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  content: "";
  background: #f582ae;
  margin-left: -5px;
  height: 11px;
  width: 11px;
}
.container .content .first-row .wrapper div[class^=col] h6 {
  position: relative;
  padding-top: 50px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.container .content .first-row .wrapper div[class^=col] h6:before {
  position: absolute;
  top: -10px;
  left: 50%;
  height: 40px;
  width: 0;
  content: "";
  border-right: 1px dashed #f582ae;
}
.container .content .first-row .wrapper div[class^=col] .info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container .content .first-row .wrapper div[class^=col] .info ul li {
  color: #6275a8;
  font-size: 0.9375rem;
  font-weight: 200;
  padding: 10px 0;
  position: relative;
  line-height: 26px;
}
.container .content .first-row .wrapper div[class^=col] .info ul li:not(:last-child)::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1px;
  width: 20px;
  margin-bottom: -0.5px;
  margin-left: -10px;
  content: "";
  background: rgba(168, 159, 254, 0.3);
}
.container .content .second-row {
  display: flex;
  position: relative;
}
.container .content .second-row::before {
  position: absolute;
  top: 43px;
  left: 0;
  width: 100%;
  height: 0;
  content: "";
  border-bottom: 1px dashed #f582ae;
}
.container .content .second-row:after {
  position: absolute;
  top: 43px;
  width: 15px;
  height: calc(100% - 30px);
  content: "";
  border: 1px dashed #f582ae;
  border-right: 0;
  border-radius: 20px 0 0 20px;
  left: -15px;
}
.container .content .second-row .wrapper {
  width: 40%;
  padding: 0 15px 54px;
}
.container .content .second-row .wrapper div[class^=col] {
  text-align: center;
  position: relative;
  padding: 0 40px;
}
.container .content .second-row .wrapper div[class^=col] span {
  color: #dd246b;
  position: relative;
  padding-bottom: 25px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.container .content .second-row .wrapper div[class^=col] span:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  content: "";
  background: rgba(245, 130, 174, 0.342);
  margin-left: -13px;
  margin-bottom: -8px;
  height: 27px;
  width: 27px;
}
.container .content .second-row .wrapper div[class^=col] span:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  content: "";
  background: #f582ae;
  margin-left: -5px;
  height: 11px;
  width: 11px;
}
.container .content .second-row .wrapper div[class^=col] h6 {
  position: relative;
  padding-top: 50px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.container .content .second-row .wrapper div[class^=col] h6:before {
  position: absolute;
  top: -14px;
  left: 50%;
  height: 40px;
  width: 0;
  content: "";
  border-right: 2px solid #f582ae;
}
.container .content .second-row .wrapper div[class^=col] .info {
  color: #6275a8;
  font-size: 0.9375rem;
  font-weight: 200;
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 20px 150px;
  }
  .container .content .first-row {
    display: block;
  }
  .container .content .first-row::before {
    top: 0;
    width: 2;
    height: 104%;
    border-left: 3px solid #f582ae;
    border-bottom: none;
  }
  .container .content .first-row:after {
    display: none;
  }
  .container .content .first-row .wrapper {
    width: 100%;
  }
  .container .content .first-row .wrapper div[class^=col] {
    text-align: start;
  }
  .container .content .first-row .wrapper div[class^=col] span {
    font-size: 0.7rem;
    margin-left: 13px;
  }
  .container .content .first-row .wrapper div[class^=col] span:before {
    left: 0;
    margin-left: -40px;
    margin-bottom: -13px;
  }
  .container .content .first-row .wrapper div[class^=col] span:after {
    left: 0;
    margin-left: -32px;
    margin-bottom: -5px;
  }
  .container .content .first-row .wrapper div[class^=col] h6 {
    text-align: start;
    margin-left: 10px;
    padding-top: 15px;
    font-size: 0.96rem;
  }
  .container .content .first-row .wrapper div[class^=col] h6:before {
    top: -15px;
    left: -15px;
    height: 1px;
    width: 35px;
    border-top: 1px dashed #f582ae;
  }
  .container .content .first-row .wrapper div[class^=col] .info {
    margin-left: 10px;
  }
  .container .content .first-row .wrapper div[class^=col] .info ul li {
    font-size: 0.9rem;
  }
  .container .content .first-row .wrapper div[class^=col] .info ul li:not(:last-child)::before {
    left: 10px;
  }
  .container .content .second-row {
    flex-direction: column-reverse;
  }
  .container .content .second-row::before {
    top: 0px;
    width: 2px;
    height: 100%;
    border-left: 1px dashed #f582ae;
    border-bottom: none;
  }
  .container .content .second-row:after {
    display: none;
  }
  .container .content .second-row .wrapper {
    width: 90%;
  }
  .container .content .second-row .wrapper div[class^=col] {
    text-align: start;
  }
  .container .content .second-row .wrapper div[class^=col] span {
    font-size: 0.7rem;
    margin-left: -20px;
  }
  .container .content .second-row .wrapper div[class^=col] span:before {
    left: 0;
    margin-left: -48px;
    margin-bottom: -13px;
  }
  .container .content .second-row .wrapper div[class^=col] span:after {
    left: 0;
    margin-left: -40px;
    margin-bottom: -5px;
  }
  .container .content .second-row .wrapper div[class^=col] h6 {
    text-align: start;
    margin-left: -30px;
    padding-top: 15px;
    font-size: 0.96rem;
  }
  .container .content .second-row .wrapper div[class^=col] h6:before {
    top: -15px;
    left: -20px;
    height: 1px;
    width: 40px;
    border-top: 2px solid #f582ae;
  }
  .container .content .second-row .wrapper div[class^=col] .info {
    margin-left: -30px;
    font-size: 0.85rem;
    line-height: 1.9;
  }
}
@media screen and (max-width: 800px) {
  .container {
    padding: 20px 50px;
  }
}
@media screen and (max-width: 320px) {
  .container .content .first-row::before {
    height: 103%;
  }
}/*# sourceMappingURL=style.css.map */