@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&display=swap');
 


*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    margin-top: -15px;
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0;
    background-color: #BDD8F6;
    color: #5894C9;
    padding: 20px 120px;

    header{
        h3{
            position: relative;
            padding-left: 60px;
            font-size: .9rem;

            &:before{
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -1px;
                height: 2px;
                width: 50px;
                content: "";
                background: #5894C9;
            }
        }

        h1{
            font-size: 2rem;
        }
    }

    .content{
        .first-row{
            display: flex;
            position: relative;
            &::before{
                position: absolute;
                top: 42px;
                left: 0;
                width: 100%;
                height: 0;
                content: "";
                border-bottom: 3px solid #3979B1;
            }

            &:after{
                position: absolute;
                top: 42px;
                width: 15px;
                height: calc(100% + 3px);
                content: "";
                border: 3px solid #3979B1;
                border-left: 0;
                border-radius: 0 20px 20px 0;
                right: -15px;
            }

            .wrapper{
                width: 40%;
                div[class^="col"]{
                    text-align: center;
                    padding: 0 15px 54px;
                    span{
                        color: #3979B1;
                        position: relative;
                        padding-bottom: 25px;
                        font-size: .8rem;
                        font-weight: 600;
                        letter-spacing: 1px;
    
                        &:before{
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            border-radius: 50%;
                            content: "";
                            background: rgba(13, 77, 130, 0.342);
                            margin-left: -13px;
                            margin-bottom: -8px;
                            height: 27px;
                            width: 27px;
                        }
    
                        &:after{
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            border-radius: 50%;
                            content: "";
                            background: #19598e;
                            margin-left: -5px;
                            height: 11px;
                            width: 11px;
                        }
                    }
    
                    h6{
                        position: relative;
                        padding-top: 50px;
                        text-align: center;
                        font-size: 1rem;
                        font-weight: 500;
                        margin-bottom: 5px;
    
                        &:before{
                            position: absolute;
                            top: -13px;
                            left: 50%;
                            height: 40px;
                            width: 0;
                            content: "";
                            border-right: 1px dashed rgba(13, 77, 130, 0.342);
                        }
                    }
    
                    .info{
                        ul{
                            list-style: none;
                            margin: 0;
                            padding: 0;
    
                            li{
                                color: #6275a8;
                                font-size: .9375rem;
                                font-weight: 200;
                                padding: 10px 0;
                                position: relative;
                                line-height: 26px;
    
                                &:not(:last-child){
                                    &::before{
                                        position: absolute;
                                        left: 50%;
                                        bottom: 0;
                                        height: 1px;
                                        width: 20px;
                                        margin-bottom: -0.5px;
                                        margin-left: -10px;
                                        content: "";
                                        background: rgba(168, 159, 254, 0.3);
                                    }
    
                                }
                            }
                        }
                    }
                }
            }
        }

        .second-row{
            display: flex;
            position: relative;
            
            &::before{
                position: absolute;
                top: 43px;   
                left: 0;
                width: 100%;
                height: 0;
                content: "";
                border-bottom: 1px dashed #3979B1;
            }
            &:after{
                position: absolute;
                top: 43px;
                width: 15px;
                height: calc(100% - 30px);
                content: "";
                border: 1px dashed #3979B1;
                border-right: 0;
                border-radius: 20px 0 0 20px;
                left: -15px;
            }

            .wrapper{
                width: 40%;
                padding: 0 15px 54px;

                div[class^="col"]{
                    text-align: center;
                    position: relative;
                    padding: 0 40px;

                    span{
                        color: #3979B1;
                        position: relative;
                        padding-bottom: 25px;
                        font-size: .8rem;
                        font-weight: 600;
                        letter-spacing: 1px;
    
                        &:before{
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            border-radius: 50%;
                            content: "";
                            background: rgba(13, 77, 130, 0.342);
                            margin-left: -13px;
                            margin-bottom: -8px;
                            height: 27px;
                            width: 27px;
                        }
    
                        &:after{
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            border-radius: 50%;
                            content: "";
                            background: #19598e;
                            margin-left: -5px;
                            height: 11px;
                            width: 11px;
                        }
                    }    

                    h6{
                        position: relative;
                        padding-top: 50px;
                        text-align: center;
                        font-size: 1rem;
                        font-weight: 500;
                        margin-bottom: 5px;
    
                        &:before{
                            position: absolute;
                            top: -14px;
                            left: 50%;
                            height: 40px;
                            width: 0;
                            content: "";
                            border-right: 1px dashed #3979B1;
                        }
                    }

                    .info{
                        color: #6275a8;
                        font-size: .9375rem;
                        font-weight: 200;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .container{
        padding: 20px 60px;
    }
}

@media screen and (max-width: 1024px) {
    .container{
        padding: 20px 150px;
        .content{
            .first-row{
                display: block;
                &::before{
                    top: 0;
                    width: 2;
                    height: 104%;
                    border-left: 3px solid #f582ae;
                    border-bottom: none;
                }
                &:after{
                    display: none;
                }
                .wrapper{
                    width: 100%;
                    div[class^="col"]{
                        text-align: start;

                        span{
                            font-size: .7rem;
                            margin-left: 13px;
                            &:before{
                                left: 0;
                                margin-left: -40px;
                                margin-bottom: -13px;
                                
                            }
        
                            &:after{
                                left: 0;
                                margin-left: -32px;
                                margin-bottom: -5px; 
                            }
                        }

                        h6{
                            text-align: start;
                            margin-left: 10px;
                            padding-top: 15px;
                            font-size: .96rem;
                            &:before{
                                top: -15px;
                                left: -15px;
                                height: 1px;
                                width: 35px;
                                border-top: 1px dashed #f582ae;
                            }
                        }

                        .info{
                            margin-left: 10px;
                            ul{
                                li{
                                    font-size: .9rem;
                                    &:not(:last-child){
                                        &::before{
                                            left: 10px;
                                        }
        
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .second-row{
                flex-direction: column-reverse;

                &::before{
                    top: 0px;   
                    width: 2px;
                    height: 100%;
                    border-left: 1px dashed #f582ae;
                    border-bottom: none;
                }

                &:after{
                    display: none;
                }

                .wrapper{
                    width: 90%;

                    div[class^="col"]{
                        text-align: start;

                        span{
                            font-size: .7rem;
                            margin-left: -20px;
                            &:before{
                                left: 0;
                                margin-left: -48px;
                                margin-bottom: -13px; 
                            }
        
                            &:after{
                                left: 0;
                                margin-left: -40px;
                                margin-bottom: -5px; 
                            }
                        }

                        h6{
                            text-align: start;
                            margin-left: -30px;
                            padding-top: 15px;
                            font-size: .96rem;
                            
                            &:before{
                                top: -15px;
                                left: -20px;
                                height: 1px;
                                width: 40px;
                                border-top: 2px solid #f582ae ;
                            }
                        }

                        .info{
                            margin-left: -30px;
                            font-size: .85rem;
                            line-height: 1.9;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    .container{
        padding: 20px 50px;
    }
}

@media screen and (max-width: 320px){
    .container{
        .content{
            .first-row{
                &::before{
                    height: 103%;
                }
            }
        }
    }
}